//////////////////////////////
// Tags
//////////////////////////////

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $f-poppins;
  font-size: 100%;

  @include bp(bravo) {
    font-size: 125%;
  }
}

body {
  background: $c-crimson;
  color: white;
}

section {
  margin-bottom: 4em;
}
