//////////////////////////////
// Variables
//////////////////////////////

// Breakpoints
//////////////////////////////
$breakpoints: (
  'alpha': (min-width: 481px)
);

// Colors
//////////////////////////////
$c-crimson: #6f0003;

// Font Stacks
//////////////////////////////
$f-poppins: 'Poppins', Helvetica, Arial, sans-serif;
