//////////////////////////////
// Pies
//////////////////////////////

.pie {

  text {
    fill: white;
    font-size: .75rem;
  }

  &-wrap {
    float: left;
  }

  &-graph {

    &-arc {}
  }

  &-legend {}
}
