//////////////////////////////
// Header
//////////////////////////////

.header {
  padding: 2em 0;

  &-logo,
  &-heading {
    display: inline-block;
    vertical-align: middle;
  }

  &-logo {
    fill: white;
    width: 50px;
    height: auto;
    padding: 5px;
    position: relative;
    top: -3px;
  }

  &-heading {
    margin-bottom: 0;
  }
}
